body {
    height: 100vh;
    background-color: #2c4762 !important;
}

.home-container {
    background-color: #2c4762;
    color: white;
    font-family: 'MedievalSharp', cursive;

    h1 {
        cursor: pointer;
    }

    .box {
        width: fit-content;
        padding: 0.4em 0.5em;
        background-color: #223141;
        border-radius: 15px;
        margin-bottom: 1em;
    }

    .card-container {
        .hide {
            display: none;
        }
        textarea {
            padding: 1em;
            height: 200px;
            width: 70%;
            margin: auto;
            background-color: #c5c5a5;
            border-radius: 18px;
            color: black;
            border: none;
            box-shadow: none;
            text-align: center;
            font-size: 22px;
            word-wrap: break-word;
            word-break: break-all;
            -ms-overflow-style: none; /* IE and Edge */
            scrollbar-width: none; /* Firefox */
            font-weight: 900;
            &:focus {
                outline: none;
            }
            &::-webkit-scrollbar {
                display: none;
            }
            &::placeholder {
                color: rgb(163, 91, 33);
            }
        }
    }
}
